.new {
  float: right;
  margin-bottom: 1.5rem;
  background-color: #83bf02;
  padding: 0.5rem;
  border-radius: 5px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #fff !important;
  transition: ease-in-out 0.5s;
}
.new svg {
  margin-right: 5px;
}
.new:hover {
  background-color: #5fd204;
  transform: scale(1.1);
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.dashboard span {
  margin: 2em;
  font-weight: bold;
  font-size: 1.2rem;
}

.btn-more {
  margin: 1.5em 0;
  padding: 0.5em 1em;
  background-color: #181c2e;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 1.1em;
}
.load {
  margin-top: 1.5em;
}

table {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table caption {
  font-size: 1.5rem;
  margin: 0.5em 0 0.75em;
}
table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.6em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

table td .action {
  border: 0;
  padding: 5px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 3px;
  background: none;
}

.table td .action svg {
  vertical-align: middle;
  padding: 10px;
}

table td .badge {
  padding: 3px;
  border-radius: 3px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.6em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
