.container-center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #121212;
  padding: 0 1rem;
}

.login {
  background-color: #eaeaec;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.area {
  background-color: #181c2e;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.area img {
  width: 230px;
  height: 180px;
  padding: 20px;
}

form {
  margin-top: 1.5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}

form h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #181c2e;
}
form input {
  margin-bottom: 1rem;
  height: 35px;
  border-radius: 4px;
  border: none;
  padding: 10px;
  font-size: 15px;
  background: #fff;
}

form button {
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #181c2e;
  color: #fff;
  font-size: 1.3rem;
}
form button:hover {
  background-color: #3d4773;
}

.login a {
  margin: 1.5rem 0;
  color: #000;
  cursor: pointer;
}
