form textarea {
  resize: none;
  height: 105px;
}
form input[type="radio"] {
  margin: 15px 0;
}

form input[type="radio"]:not(:first-child) {
  margin-left: 15px;
}
.status label {
  padding-left: 0.5em;
  font-size: 1.3em;
  margin-top: 0.5em;
}
.status {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}
