* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-size: 16px;
  background-color: #efefef;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
a:visited {
  color: rgba(225, 255, 255, 0.7);
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
